{% extends 'blogs/backend/base.html' %}
{% block backend_content %}

<div class="page-header">
    <h1>编辑标签</h1>
</div>
<form class="form" action="{% url 'blogs:edit_tag' tag_id %}" method="post"
      enctype="application/x-www-form-urlencoded">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field.errors.0 }}
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">保存</button>
</form>
{% endblock %}